.clock {
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    border: 2px solid grey;
    border-radius: 15px;
    background-color: lightgreen;
    font-size: 48px;
}

.button-land {
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 50px;
    border: 2px solid grey;
    border-radius: 15px;
    background-color: slategrey;
}

.button-land button {
    font-size: 48px;
    border: 2px solid grey;
    border-radius: 15px;
    background-color: antiquewhite;
}

.button-land button:hover {
    background-color: navajowhite;
}

.button-land button:active {
    background-color: cornflowerblue;
}
